<div class="page-header"></div>
<header class="fp-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="images/password.png">
                <h4 style="">
                    CHANGE PASSWORD
                </h4>
            </div>
        </div>
    </div>  
</header>

<div class="container fp-description">
    <div class="row">
        <div class="col-xs-12 text-center">
         
         	<h4 class="cpw-header">Enter a new password </h4>
            <form name="forgotForm">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                       <img src="images/password.png">
                    </span>

                    <input type="password" class="form-control" placeholder="Enter old password" aria-describedby="basic-addon1"
                           name="answer" required>
                </div>

                 <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                       <img src="images/password.png">
                    </span>

                    <input type="password" class="form-control" placeholder="Enter new password" aria-describedby="basic-addon1"
                           name="answer" required>
                </div>

                 <div class="input-group" style="margin-top:10px">
                    <span class="input-group-addon" id="basic-addon1">
                       <img src="images/password.png">
                    </span>

                    <input type="password" class="form-control" placeholder="Repeat new password" aria-describedby="basic-addon1"
                           name="answer" required>
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="forgotForm.$invalid" ng-click="resetPassword()" style="margin-top:30px">
                    UPDATE
                </button>
            </form>
        </div>
    </div>
</div>



<footer class="fp-footer" ng-if="!hasFocusElement">
    <div class="container" >
        <span class="pull-left" back>
        <img src="images/red-back-btn.png" height="20px">
            GO BACK
        </span>
    </div>
</footer>