<div class="page-header" style="position:absolute; top:0; border-bottom: 0px; width:100%; height:21px"></div>

<div class="registration wrapper">

    <header id="reg-header">
        <img src="images/user.png" style="margin-top:30px"/>
        <h2 style="margin-top:10px">SIGN UP</h2>
    </header>

    <form id="registration" name="registrationForm" novalidate ng-submit="register()" registration>

        <table class="gender" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <label for="male">
                        <img src="images/male.png" />
                        <input type="radio" name="gender" 
                                ng-change="validate_gender()" 
                                ng-model="user_info.gender.input_value" 
                                value="Male" id="male" required />
                    </label>
                </td>
                <td>
                    <label for="female">
                        <img src="images/female.png" />
                        <input type="radio" name="gender" 
                                ng-change="validate_gender()" 
                                ng-model="user_info.gender.input_value" 
                                value="Female" id="female" required />
                    </label>
                </td>
            </tr>
        </table>
        <div style="clear:both;"></div>
        <table class="form" cellspacing="0" cellpadding="0">

            <tr class="double">
                <td class="pink"><label for="username" class="i6-resize"> <img src="images/phone.png" /> </label></td>
                <td class="gray">
                    <label for="username"> 
                        <input type="text" id="username" 
                                name="username" ng-model="user_info.username.input_value" 
                                placeholder="Username" 
                                required class="input"  
                                ng-keyup="validate_username(true)"
                                ng-blur="checkUsername(user_info.username.input_value)"
                                uib-tooltip="{{user_info.username.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.username.showError && user_info.username.touched"
                                />
                    </label>
                </td>
                <td>&nbsp;&nbsp;</td>
                
                <td class="gray input-country" style="position:relative;width:25%;">
                <label >
                <img ng-src="{{'images/flags/'+user_info.country.flag}}" ng-if="user_info.country.input_value" class="country-flag" style="margin:-5px 10% 0 0;">
                <input type="text"
                        class="input" 
                        name="country" 
                        id="country" 
                        ng-model="user_info.country.input_value"
                        ng-class="{'text-gray' : user_info.country.showError && user_info.answer.touched}"
                        readonly ng-click="showCountryList = (showCountryList)?false:true"
                        style="display:inline;width:30%;" 
                        ng-disabled="user_info.username.showError && !checking"
                        >
                </label>
                        <ul ng-if="showCountryList" 
                            style="width:100%; 
                                    position:absolute;
                                    height:200px;
                                    overflow-y:scroll;
                                    font-family:condensed;
                                    font-size:100%;
                                    background:white;
                                    padding-left:3%;">
                            <li ng-repeat="c in countries" style="padding:2px 0;color:#000;" ng-click="selectCountry(c.code,c.img, true)"> 
                                <img ng-src="images/flags/{{c.img}}" style="margin:0;"> {{c.code}}
                            </li>
                        </ul>
                </td>
            </tr>

            <tr class="double">
                <td class="pink"><label for="fname" class="resize-form "> <img src="images/name.png" /> </label></td>
                <td class="gray input-fname">
                    <label for="fname" class="label-fname"> 
                        <input type="text" id="fname" 
                                name="fname" 
                                ng-model="user_info.fname.input_value" 
                                placeholder="First Name" 
                                required class="input"
                                ng-keyup="validate_name('fname', true)"
                                ng-disabled="user_info.username.showError && !checking"
                                uib-tooltip="{{user_info.fname.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.fname.showError && user_info.fname.touched"
                                 />
                    </label>
                </td>
                <td>&nbsp;&nbsp;</td>
                
                <td class="gray">
                    <label for="lname"> 
                        <input type="text" id="lname" 
                                name="lname" 
                                ng-model="user_info.lname.input_value" 
                                placeholder="Last Name" required 
                                ng-keyup="validate_name('lname', true)"
                                ng-disabled="user_info.fname.showError"
                                uib-tooltip="{{user_info.lname.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.lname.showError && user_info.lname.touched"
                                />
                    </label>
                </td>
            </tr>
            <tr>
                <td class="pink"><label for="email" class="resize-form"><img src="images/email.png" /> </label></td>
                <!--  ng-class="{'bg-error' : user_info.email.showError && user_info.email.touched }" -->
                <td class="gray">
                    <label for="email"> 
                        <input type="text" id="email" 
                                name="email" 
                                ng-model="user_info.email.input_value" 
                                placeholder="Email" required 
                                ng-keyup="validate_email(true)"
                                ng-disabled="user_info.lname.showError"
                                ng-blur="checkEmail(user_info.email.input_value)"
                                uib-tooltip="{{user_info.email.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.email.showError && user_info.email.touched"
                                />
                    </label>
                </td>
            </tr>
            <tr>
                <td class="pink"><label for="birthday" class="i6-resize"><img src="images/age.png" /> </label></td>
                <td class="gray">
                <label for="birthday"> 
                    <input type="text" class="input" name="birthday"
                            id="birthday"
                            placeholder="Birthday"
                            onfocus="this.type = 'date'"
                            min="{{dateRange().min}}" max="{{dateRange().max}}"
                            ng-model="user_info.birthday.input_value" 
                            ng-class="{'text-gray' : user_info.birthday.grayText}"
                            ng-change="validate_birthday(true)"
                            ng-disabled="user_info.email.showError && !checking"
                            uib-tooltip="{{user_info.birthday.message}}" 
                            tooltip-trigger="'none'" 
                            tooltip-placement="bottom" 
                            tooltip-is-open="openToolTip && user_info.birthday.showError && user_info.birthday.touched"
                            required style="height:100%;margin-top:0px">
                </label>
            </tr>
            <tr>
                <td class="pink"><label for="password" class="i6-resize"><img src="images/password.png" /> </label></td>
                <td class="gray">
                    <label for="password"> 
                        <input type="password" 
                                id="password"
                                ng-blur="showPassTip = false" 
                                name="password" 
                                ng-model="user_info.password.input_value"
                                placeholder="Password" required
                                ng-keyup="validate_password(true, true)"
                                ng-disabled="user_info.birthday.showError"
                                uib-tooltip="{{user_info.password.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.password.showError && user_info.password.touched"
                                required
                                 />
                    </label>
                </td>
            </tr>
            <tr ng-if="showPassTip">
                <td class="password-tip">
                    <ul>
                        <li ng-class="{'color-success' : user_info.password.input_value.match('[a-z]') && user_info.password.input_value.match('[A-Z]') && user_info.password.input_value.match('[0-9]')}">
                            Must contain atleast 1
                            <ul>
                                <li ng-class="{'color-success' : user_info.password.input_value.match('[a-z]')}">lower case</li>
                                <li ng-class="{'color-success' : user_info.password.input_value.match('[A-Z]')}">upper case</li>
                                <li ng-class="{'color-success' : user_info.password.input_value.match('[0-9]')}">number</li>
                            </ul>
                        </li>
                        <li ng-class="{'color-success' : user_info.password.input_value.length > 7}">Atleast 8 characters long</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="pink"><label for="rpassword" class="i6-resize"><img src="images/password.png" /> </label></td>
                <td class="gray">                
                    <label for="rpassword"> 
                        <input type="password" 
                                id="rpassword"
                                name="rpassword" ng-model="user_info.repeat_password.input_value" 
                                placeholder="Repeat Password" required 
                                ng-keyup="validate_repeat_password(true)"
                                ng-blur="user_info.repeat_password.showTip = false"
                                ng-disabled="user_info.password.showError"
                                uib-tooltip="{{user_info.repeat_password.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.repeat_password.showError && user_info.repeat_password.touched"
                                required
                                />
                    </label>
                </td>
            </tr>
            <tr>
                <td class="pink"><label for="question" class="i6-resize"><img src="images/password.png" /> </label></td>
                <td class="gray">
                    <label for="question">
                        <select class="input" id="question" 
                                class="input" name="question" 
                                ng-model="user_info.question.input_value" 
                                ng-change="validate_question(true)"
                                required 
                                ng-class="{'text-gray' : user_info.question.grayText }"
                                ng-change="upQuestion()"
                                ng-disabled="user_info.repeat_password.showError"
                                uib-tooltip="{{user_info.question.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.question.showError && user_info.question.touched"
                                required style="height:100%;margin-top:0px" 
                                >
                            <option value="" disabled selected>Secret question</option>
                            <option ng-repeat="question in questions" value="{{question.question_id}}" ng-bind="question.content"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="pink"><label for="answer" class="i6-resize"><img src="images/password.png" /> </label></td>
                <td class="gray">
                    <label for="answer"> 
                        <input type="password" id="answer" 
                                name="answer" 
                                ng-model="user_info.answer.input_value" 
                                placeholder="Your secret answer" required 
                                ng-keyup="validate_answer(true)"
                                ng-disabled="user_info.question.showError"
                                uib-tooltip="{{user_info.answer.message}}" 
                                tooltip-trigger="'none'" 
                                tooltip-placement="bottom" 
                                tooltip-is-open="openToolTip && user_info.answer.showError && user_info.answer.touched"
                                required
                                />
                    </label>
                </td>
            </tr>
        </table>

        <center>
            <button class="register" type="submit" ng-disabled="processRegister">REGISTER</button>
        </center>

    </form>

</div>