<div class="modal-header row">
	<div class="col-sm-3 num-comments">
		<img src="images/comment.png" class="comment-logo"><p>5k</p>
	</div>
	<div class="col-sm-4 smiley-text">
		<p>Count of smileys</p>
	</div>
	<div class="col-sm-4 no-padding">
		<ul id="comment-wrapper" class="comment-smileys-container">
			<li>
				<img src="images/rate-smile.png" class="comment-logo-image">
			</li>
            <li>
            	<img src="images/rate-smile.png" class="comment-logo-image">
            </li>
            <li>
            	<img src="images/rate-smile.png" class="comment-logo-image">
            </li>
            <li>
            	<img src="images/rate-smile.png" class="comment-logo-image">
            </li>
            <li>
            	<img src="images/rate-smile.png" class="comment-logo-image">
            </li>
		</ul>
	</div>
</div>
<div class="comments-container-box">
	<ul class="comment-list-modal">
		<li class="row comments-container" ng-repeat="comment in comments">
			<div class="col-sm-2 comment-photo">
				<img ng-src="{{comment.image}}" style="width: 50px;">
			</div>
			<div class="col-sm-10 comment-name-body-container">
				<div class="name-container">
					<p class="commenter-name" ng-bind="comment.fullname"></p>
					<p class="comment-body" ng-bind="comment.comment"></p>
				</div>
			</div>
		</li>
	</ul>
	
	<div class="comment-input">
		<center>
		<input type="text" name="name" id="basic" class="input-message" style="    border-top: none;
		    border-right: none;
		    border-left: none;
		    border-bottom: 1px solid blue;" 
		    ng-model="commentModel"/>
		<img src="images/send.png" style="    width: 35px;
    		margin-top: -8px;"
    		ng-click="postComments()">
    	</center>
	</div>
	
</div>