<div id="sp-page" style="overflow:hidden;">
    <div class="page-main-header shop-page-main-header"></div>
    <div id="" class="animated fading-menu"
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}"
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="toggleMenu()">
        <menu style="width:80%;height:100%;background:#fff;"
        class="animated"
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu>
    </div>
    <coupon-header></coupon-header>
<div class="container filtered-cards" style="height:100%">

    <div class="row filter-option">
        <div class="col-xs-12 filter-option-ic">
            <a ui-sref="mycouponcards">
               <span class="glyphicon glyphicon-triangle-left"></span> FILTER VIEW
            </a>
        </div>
    </div>

    <div class=" view-all-cards" style="overflow-x:hidden">
        <div class="col-xs-12 no-padding">


            <div  class="row" ng-repeat="malls in mallCards">
                <div class="col-xs-6" ng-repeat="m in malls">
                    <div class="solid-border-va" ng-click="viewCardInfo(m)">
                        <div class="dashed-border-va">
                            <img ng-src="{{m.image}}" class="img-responsive img-card-view-all">
                        </div>
                    </div>
                </div>
            </div>

            <h6 ng-if="mallCards.length == 0 && !fetch" class="text-gray no-cards" style="z-index:5;">No new cards, please <a go-to-malls>add new card</a></h6>
        </div>  
    </div>

</div>

    <coupon-footer ng-if="!hasFocusElement"></coupon-footer>

</div>