
<div id="sp-page" style="overflow:hidden;">
<div class="page-main-header shop-page-main-header"></div>
<div id="" class="animated fading-menu" 
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}" 
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="menuSwipeLeft()">

<menu style="width:80%;height:100%;background:#fff;"
        class="animated" 
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu> 

</div>
  
  <shop-header></shop-header>

<div class="container-fluid filtered-cards">

    <div class="row filter-option">
        <div class="col-xs-12 filter-option-ic">
            <a ui-sref="myshopcardsva">
                VIEW ALL <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
<!-- flipInX -->
     <p style="color: #1882A8 ">LAST USED</p>

    <div class="row lu-cards my-cards custom-slider" style="padding:4px;">
         <div class='cs-image-holder' 
                ng-repeat="l in lastUsed | filter:searchCountry as lFilter" 
                ng-click="viewShopCardInfo(l)"
                style="margin-right: 8px;">
            <img class="animated cs-image" ng-src="{{l.image}}" />
        </div>
        <div class='cs-image-holder' ng-if="fetching == true">
            <img src="images/mallcards/american.png" class="cs-image" style="visibility:hidden;">
        </div>
        <h6 ng-if="lFilter.length == 0 || lastUsed.length == 0 || !lastUsed" class="text-gray no-cards">No recently used cards </h6>
    </div>

    <p style="color: #1882A8 ">FREQUENTLY USED</p>

    <div class="row fu-cards my-cards custom-slider" style="padding:4px;">
         <div class='cs-image-holder' 
                ng-repeat="f in frequentlyUsed | filter:searchCountry as fFilter" 
                ng-click="viewShopCardInfo(f)"
                style="margin-right: 8px;">
            <img class="animated cs-image" ng-src="{{f.image}}" />
        </div>
        <div class='cs-image-holder' ng-if="fetching == true">
            <img src="images/mallcards/american.png" class="cs-image" style="visibility:hidden;">
        </div>
        <h6 ng-if="fFilter.length == 0 || frequentlyUsed.length == 0 || !frequentlyUsed" class="text-gray no-cards">No frequently used cards</h6>
    </div>


    <p style="color: #1882A8 ">BY SHOP NAMES</p>
    
    <div class="row mn-cards my-cards custom-slider" style="padding:4px;">
         <div class='cs-image-holder' 
                ng-repeat="m in shopCards | filter:searchCountry as mFilter" 
                ng-click="viewShopCardInfo(m)"
                style="margin-right: 8px;">
            <img class="animated cs-image" ng-src="{{m.image}}" />
        </div>
        <div class='cs-image-holder' ng-if="fetching == true">
            <img src="images/mallcards/american.png" class="cs-image" style="visibility:hidden;">
        </div>
        <h6 ng-if="mFilter.length == 0 || shopCards.length == 0 || !shopCards" class="text-gray no-cards">No new cards, please <a ng-click="shopsearch()">add new card</a></h6>
    </div>


</div>

    <shop-footer></shop-footer>

</div>