<div id="sp-page" style="overflow:hidden;">
    <div class="page-main-header promo-page-main-header"></div>
    <div id="" class="animated fading-menu"
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}"
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="toggleMenu()">
        <menu style="width:80%;height:100%;background:#fff;"
        class="animated"
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu>
    </div>
    
    <promo-header></promo-header>
<div class="mother-of-all-scrollables-psp">
    <div class="container">
        <div class="row">
        	<div class="col-xs-12 no-padding">
        	 <img ng-src="{{promoInfo.image}}" class="img img-responsive promo-img-solo-psp" >
        	</div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="position:relative" >
            <h4 class="promo-solo-title" ng-if="promoInfo.price>0">Get our promo sale for </h4>
            <img src="images/single-promo-share.png" class="share-promo-img" share-anywhere="{{promoInfo}}">
            <img src="images/single-promo-banner.png" class="promo-banner-img" ng-if="promoInfo.price>0">
            <img ng-hide="viewOnly" src="images/single-promo-pin.png" class="promo-pin-img" ng-if="promoInfo.price>0">
           
            <span class="promo-banner-text-only" ng-if="promoInfo.price>0">ONLY</span> 
            <span class="promo-banner-price" ng-if="promoInfo.price>0">{{promoInfo.currency_type + promoInfo.price}}</span>     
            <button class="promo-pin-reserve" 
            ng-disabled="promoInfo.expired == true"
            ng-hide="viewOnly" ng-if="promoInfo.price>0">
                <span ng-if="promoInfo.coupon_id" ng-click="addCoupon(promoInfo)" style="font-size:12px">GET COUPON</span>
                <span ng-if="!promoInfo.coupon_id" ng-click="reservePromo()">RESERVE</span>
            </button>
        </div>
        <span id="tomypromos" route-my-promos></span>
        <div class="row" id="psp-shop-desc-sec">
            <div id="psp-promo-by">
                <p> by <span>{{promoInfo.asset_name}}</span> 
                    <img ng-src="{{promoInfo.asset_image}}" class="psp-logo-sm"> 
                </p>
            </div>

            <div id="psp-promo-shoutout" class="col-xs-11">
                <p>{{promoInfo.description}}</p>
            </div>

            <div id="psp-promo-location" class="col-xs-11">
                <p> Location: <br/> <span>{{promoInfo.address}}</span> </p>
            </div>
        </div>

        <div id="psp-date-container">
            <center>
                 <span class="psp-promo-validity">valid until {{promoInfo.datetime_end | date:'MMMM / d / yy'}}</span><br/>
                 <p>Time Remaining</p>

                 <span class="psp-timer" 
                 promo-time-remaining="{{promoInfo.datetime_end}}" 
                 promo-solo-emit="{{promoSoloEmit}}"></span><br/>
                 <span class="psp-timer-label">Days |  Hours | Minutes</span>

            </center>
           
        </div>
    </div>
</div>	
</div>

<promo-reserve-modal></promo-reserve-modal>
<add-card-confirm-modal></add-card-confirm-modal>