<div id="sp-page" style="overflow:hidden;">
    <div class="page-main-header shop-page-main-header"></div>
    <div id="" class="animated fading-menu"
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}"
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="toggleMenu()">
        <menu style="width:80%;height:100%;background:#fff;"
        class="animated"
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu>
    </div>
    
    <promo-header></promo-header>
    <div class="container">
        <div class="row">
        	<div class="col-xs-12 no-padding">
        	 <img src="http://media.graytvinc.com/images/KFC13.jpg" class="img img-responsive">
        	</div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="position:relative">
            <h4 class="promo-solo-title">Get our promo sale for </h4>
            <img src="images/single-promo-share.png" class="share-promo-img" >
            <img src="images/single-promo-banner.png" class="promo-banner-img" >
            <img src="images/single-promo-pin.png" class="promo-pin-img">
           
            <span class="promo-banner-text-only">ONLY</span> 
            <span class="promo-banner-price">P9999</span>     
            <span class="promo-pin-reserve">RESERVE</span>
        </div>
    </div>
    	
</div>