<div id="sp-page" style="overflow:hidden;">
    <div class="page-main-header shop-page-main-header"></div>
    <div id="" class="animated fading-menu"
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}"
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="toggleMenu()">
        <menu style="width:80%;height:100%;background:#fff;"
        class="animated"
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu>
    </div>
    
    <promo-header></promo-header>

<div class="row">
    <div class="container">
        <div class=" page-header dark-bg dark-bg-shop">
            <p class="feature-mall-title">FEATURED MALLS AND SHOPS</p>
        </div>

        <div class="container mall-search-featured-malls featured-shops custom-slider">
                <div class="animated cs-image-holder-featured col-xs-3 col-md-3  shop-search-icons fadeIn" style="float:none;" 
                     ng-repeat="feat in featured as f"
                     route-promo-all-asset-promos="{{feat}}">
                    <img ng-src="{{feat.image}}" class="img img-responsive featured-malls-mall">
                    <p class="featured-malls-mall-name" ng-bind="feat.name"></p>
                </div>
                <center><h4 ng-if="f.length == 0">Nothing to display</h4></center>
        </div>
    </div>
</div>

<div class="row">
    <div class="container mall-search-unfeatured-malls" 
        ng-repeat="unfeat in unfeatured | limitTo:2"
        ng-swipe-left="swipeLeft()"
        ng-swipe-right="moreIsClicked()">
        
        <div class="animated col-xs-3 col-md-3 unfeatured-malls unfeatured-shops fadeIn" 
             ng-repeat="u in unfeat" >
            <div ng-if="u != true"
                route-promo-all-asset-promos="{{u}}">
                <img ng-src="{{u.image}}" class="img img-responsive featured-malls-mall featured-shops-shop">
                <p class="featured-malls-mall-name unfeatured-mall-name" ng-bind="u.name"></p>
            </div>
            <div ng-if="f == true" ng-click="moreIsClicked()">
                <img src="images/shopcard-icons/more.png" class="img img-responsive  shop-search-icon-cat" 
                    style="height: 40px;background-color: transparent; width: 40px; margin-top: 14px;">
            </div>
        </div>
    </div>
    
    <div class="container mall-search-unfeatured-malls">
        <center><h4 ng-if="!unfeatured[0][0].image">Nothing to display</h4></center>
    </div>
</div>

     

<div class="row">
    <div class="container">
        <div class="container shop-search-categories">
            <div class="col-xs-3 col-md-3  shop-search-icons animated flipInX" 
                ng-repeat="topCat in categories | limitTo:4" 
                ng-click="selectCategory(topCat.name)">
                <img ng-src="{{topCat.image}}" class="img img-responsive shop-search-icon-cat coupon-cat"
                    ng-class="{'coupon-search-icon-cat-active':topCat.selected}">
                 <span class="category-label-text">{{topCat.name}}</span>
            </div>
        </div>

        <div class="container shop-search-categories-2">
            <div class="col-xs-3 col-md-3  shop-search-icons animated flipInX" 
                    ng-repeat="bottomCat in categories" 
                    ng-if="$index > 3"
                    ng-click="selectCategory(bottomCat.name)">

                <img ng-src="{{bottomCat.image}}" class="img img-responsive shop-search-icon-cat coupon-cat"
                    ng-class="{'coupon-search-icon-cat-active':bottomCat.selected}">
            <span class="category-label-text">{{bottomCat.name}}</span>
            </div>

            <div class="animated col-xs-3 col-md-3  shop-search-icons flipInX" route-all-promo-search>
              <img src="images/Search_icon_transparent.png" class="img img-responsive shop-search-icon-cat" style="background-color:transparent">
                <span class="category-label-text" style="color:black">SEARCH</span>
            </div>



        </div>

       </div>

    </div>

</div>