
<script type="text/ng-template" id="reservemodal.html">

<div class=" coupon-info-container" style="position:relative">

    <span id="tomypromos" route-my-promos></span>

    <div class="white-bg animated fadeIn redeemable-item-container" ng-if="!done">
        <div class="col-xs-12 no-padding">
            <img ng-src="{{thisPromo.image}}" class="img img-responsive coupon-img-container" style="margin-top:0">
        </div>
        <div class="row" style="margin-top:20px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-md-4 col-lg-4" style="padding:5px 0px 0px 0px">
                        <button type="button" ng-click="decrement()" class="pull-right">
                            <img src="images/dark-btn-minus.png" class="img-responsive" style="height:30px">
                        </button>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4" style="padding:0px" >
                        <input type="number" ng-model="quantity" class="ipt-qty-it" disabled>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4" style="padding:5px 0px 0px 0px" >
                        <button type="button" ng-click="increment()">
                            <img src="images/dark-btn-plus.png" class="img-responsive" style="height:30px">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                <div class="row" style="background-color:#333333; color:white; margin:0;margin-bottom: -22px;" class="redeem-btn">              
                    <div>
                        <button type="button" ng-click="reserve()" class="ng-dialog-redeem-btn">
                            <img src="images/redeem-btn.png" >
                        </button>
                    </div>
                </div>                     
            </div>
        </div>
    </div>
    
    <div class="white-bg animated fadeIn redeemable-item-container" ng-if="done">
        <div class="redeem-successful">
            <img src="images/dark-big-check.png">
            <p>
                <h3>Thank you for reserving 1 piece(s) of xx.</h3>
                <h4>You can pick it up at the store. Item is reserved for 2 day(s)</h4>
                <div style="text-align:center;">
                    <button type="button" ng-click="continue()" class="ng-dialog-redeem-btn">Continue</button>
                </div>
            </p>
        </div>
    </div>
    
</div>

</script>
