<div class="" id="sp-page" style="overflow-y:hidden">
<div class="page-main-header shop-page-main-header"></div>

<div id="sp-nav" class="animated fading-menu" 
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}" 
         ng-swipe-left="menuSwipeLeft()"
        >

    <menu style="width:80%;height:100%;background:#fff;"
            class="animated" 
            ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu> 

</div>

   <ul class="nav nav-tabs page-menu-top">
        <li class="col-xs-4 no-padding">
            <button back>
                <img src="images/back-btn.png" class="back-button-header-img">
            </button>
            <button ng-click="toggleMenu()">
             <img src="images/menubar.png" >
            </button>
        </li>

        <li class="col-xs-4"> 
           <p class="bold header-title-wallet">
                Mall&nbsp;cards
            </p>
        </li>
 <li class="col-xs-4 pull-right no-padding-right">
            <button ng-click="toggleShowCountry()" id="flags-nav">
                <img ng-src="{{'images/flags/'+countryDisplay.flag}}">
                <span>{{countryDisplay.name}}</span> 
                    <ul ng-if="countryDisplay.display"
                        class="flagHeader">

                            <li ng-repeat="c in headerCountries" 
                                ng-click="selectCountry(c)"> 
                                <img ng-src="images/flags/{{c.img}}"> 
                                    {{c.code}}
                            </li>
                        </ul>
            </button>
             <button class="btn-top-with-flag" ui-sref="dashboard">
                <img src="images/home-header.png" class="img img-responsive" style="height:26px" id="gohomebtn">
             </button >
        </li>
    </ul>

<div class="row search-input" style="background-color:#a61031;">
    <div class="container">
        <div class=" container ">
            <input type="text" ng-model="searchData" ng-focus="setFocus()" ng-blur="setBlur()" ng-change="filterCards()"> <button type="submit"><img src="images/white-magnifying.png" class="search-button"></button>
        </div>
    </div>
</div>

<div class="container filtered-cards" id="allcardssearch" >
   <div class="row add-cards-section"  style="margin-top:10px">
        <span class="mehehe">SEARCH RESULTS ({{searchResult}}) </span>
    <div class="full-height-container">
        
        <div ng-if="allMallCards.length != 0" ng-repeat="alphabet in allMallCards track by $index" id="cardsContainer">
            <span class="letter-heading" id="{{alphabet[0]}}"> {{(alphabet[0] == 'num')?'#':alphabet[0]}} __________________________ </span>
            <div class="container container-mall-card-results" ng-repeat="cardPerRow in alphabet[1] track by $index" >
                <div ng-repeat="card in cardPerRow track by $index">
                    <div class="animated col-xs-6 col-md-6 orange-container flipInX" ng-if="card.available == 'true'" ng-click="tapped(card)">
                        <div class="blue-layer" style="background-color:#a61031;">
                            <div class="orange-inner-layer">
                                <p class="add-card-text"> + TAP TO ADD </p>
                                <img ng-src="{{card.image}}" class="img img-responsive add-this-card-img">
                                <p class="add-card-text"> {{card.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="animated col-xs-6 col-md-6 orange-container flipInX" ng-if="card.available != 'true'" style="opacity:.5;" ng-click="alreadyAdded()">
                        <div class="blue-layer" style="background-color:#a61031;">
                            <div class="orange-inner-layer">
                                <p class="add-card-text"> ALREADY ADDED </p>
                                <img ng-src="{{card.image}}" class="img img-responsive add-this-card-img">
                                <p class="add-card-text"> {{card.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <h4 ng-if="noResults" style="text-align:center;">No results found.</h4> -->

    </div>
</div>
</div>

    <ul class="listed-alphabet">
        <li><span ng-click="scrollUp('num')">#</span></li>
        <li><span ng-click="scrollUp('A')">A</span></li>
        <li><span ng-click="scrollUp('B')">B</span></li>
        <li><span ng-click="scrollUp('C')">C</span></li>
        <li><span ng-click="scrollUp('D')">D</span></li>
        <li><span ng-click="scrollUp('E')">E</span></li>
        <li><span ng-click="scrollUp('F')">F</span></li>
        <li><span ng-click="scrollUp('G')">G</span></li>
        <li><span ng-click="scrollUp('H')">H</span></li>
        <li><span ng-click="scrollUp('I')">I</span></li>
        <li><span ng-click="scrollUp('J')">J</span></li>
        <li><span ng-click="scrollUp('K')">K</span></li>
        <li><span ng-click="scrollUp('L')">L</span></li>
        <li><span ng-click="scrollUp('M')">M</span></li>
        <li><span ng-click="scrollUp('N')">N</span></li>
        <li><span ng-click="scrollUp('O')">O</span></li>
        <li><span ng-click="scrollUp('P')">P</span></li>
        <li><span ng-click="scrollUp('Q')">Q</span></li>
        <li><span ng-click="scrollUp('R')">R</span></li>
        <li><span ng-click="scrollUp('S')">S</span></li>
        <li><span ng-click="scrollUp('T')">T</span></li>
        <li><span ng-click="scrollUp('U')">U</span></li>
        <li><span ng-click="scrollUp('V')">V</span></li>
        <li><span ng-click="scrollUp('W')">W</span></li>
        <li><span ng-click="scrollUp('X')">X</span></li>
        <li><span ng-click="scrollUp('Y')">Y</span></li>
        <li><span ng-click="scrollUp('Z')">Z</span></li>
    </ul>

  <footer-menu ng-if="!hasFocusElement"></footer-menu>
</div>

<script type="text/ng-template" id="confirmAlert">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dashed-dialog text-center">
                    <h4>
                        APPLY THIS CARD?
                    </h4>
                    
                    <button type="button" ng-click="closeThisDialog()">
                        <img src="images/dark-ok.png" class="img-responsive">
                    </button>
                </div>
            </div>
        </div>
    </div>
</script> 