<div id="sp-page" style="overflow:hidden;background-image:none; background-color:white">
    <div class="page-main-header shop-page-main-header" style="background-color:#DF1642"></div>
    <div id="" class="animated fading-menu"
        ng-class="{'sp-nav-bg fadeIn' : hasBG, 'display-none' : !menuDisplayed}"
        style="width:100%;height:100%;z-index:100;margin-top:40px;position: fixed;"
        ng-swipe-left="toggleMenu()">
        <menu style="width:80%;height:100%;background:#fff;"
        class="animated"
        ng-class="{'slideInLeft': showMenu, 'slideOutLeft' : !showMenu}" ></menu>
    </div>

   <ul class="nav nav-tabs page-menu-top">
        <li class="col-xs-4 no-padding">
            <button back>
                <img src="images/back-btn.png" class="back-button-header-img">
            </button>
            <button ng-click="toggleMenu()">
             <img src="images/menubar.png" >
            </button>
        </li>
        <li class="col-xs-4"> 
           <p class="bold header-title-wallet">
                Mall Info
            </p>
        </li>
 <li class="col-xs-4 pull-right no-padding-right">
            <button ng-click="toggleShowCountry()" id="flags-nav">
                <img ng-src="{{'images/flags/'+countryDisplay.flag}}">
                <span>{{countryDisplay.name}}</span> 
                    <ul ng-if="countryDisplay.display"
                        class="flagHeader">

                            <li ng-repeat="c in headerCountries" 
                                ng-click="selectCountry(c)"> 
                                <img ng-src="images/flags/{{c.img}}"> 
                                    {{c.code}}
                            </li>
                        </ul>
            </button>
             <button class="btn-top-with-flag" ui-sref="dashboard">
                <img src="images/home-header.png" class="img img-responsive" style="height:26px" id="gohomebtn">
             </button >
        </li>
    </ul>
    <div class="mother-of-all-containers-that-is-scrollable">
        <div class="container" style="margin-bottom:10px">
            <div class="row">
              <h5 class="shop-single-page-header" >{{shopInfo.name.toUpperCase()}}</h5>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-xs-4" style="padding:0">
                    <img ng-src="{{shopInfo.image}}" class="shop-info-logo-shop">
                </div>

                <div class="col-xs-8" style="padding-left: 5px">
                  <div class="container" style="border:1px solid #999999;padding: 5px">
                    <div class="col-xs-9">
                        <div class="row" style="line-height: 1">
                            <span class="glyphicon glyphicon-time"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.date_available" style="color:#58ad5a"></span><br/>
                            <span class="shop-details-text" ng-bind="shopInfo.time_available" style="    margin-left: 21px;"></span>
                        </div>

                        <div class="row">
                            <span class="glyphicon glyphicon-map-marker"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.floor + ', ' + shopInfo.address"></span>

                        </div>

                        <div class="row">
                            <span class="glyphicon glyphicon-earphone"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.contact"></span>
                        </div>
                        <div class="row">
                            <span class="glyphicon glyphicon-user"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.owner"></span>
                        </div>
                        <div class="row">
                            <span class="glyphicon glyphicon-envelope"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.email"></span>
                        </div>
                        <div class="row">
                            <span class=" glyphicon glyphicon-globe"> </span>
                            <span class="shop-details-text" ng-bind="shopInfo.website_url"></span>
                        </div>
                    </div>
                    <img src="images/see-brochure-lg.png" class="mishi-sb-lg" ng-click="download_file(shopInfo.file)">

                    <img src="images/qr.png" class="mishi-sb-lg-qr" ng-click="showShopDirectories()">
                    <p id="get-dir-text-mishi">Get <br/> Directions</p>

                  </div>
                </div>
            </div>
        </div>
            <hr style="    width: 90%;    margin: 0 auto !important;    padding-top: 10px;    border-top: 1px solid black;" />
        <div class="container">
            <p class="shop-history-text" ng-bind="shopInfo.description">

           </p>  
        </div>
             

        <div class="container" style="margin-top:5px;padding-bottom: 20px;">
          <img id="zoom_07" ng-src="{{shopInfo.location_image}}" data-zoom-image="images/HD-Wallpapers1.jpeg" style="width:100%; height:auto" /> 
        </div>
    </div>

</div>

<script type="text/javascript">
    
   
</script>
